body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.category-button {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    order:100;
    margin-top: -10px; /* 向上移动 10 像素 */
}
.lab {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px; /* 设置 "lab" 标签的上边距为 20 像素 */
}
.search-box {
    margin-bottom: 20px;
}
.sort-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.sort-dropdown {
    margin-bottom: 10px;
}
/* .price{ */
    /* margin-left: 10px; 调整文本与图片之间的间距 */
/* } */
.item_img {
    position: relative;
    max-width: 30%; /* 图片的最大宽度为容器的宽度 */
    max-height: 30%;
    /* float: left; */
    /* margin-right: 50px; 调整图片与文本之间的间距 */
    order:1;
}
.item_detail{
    order:-1;
    left:-100px;
}