            
        body {
            background-size: cover;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 25px;
            border-radius: 5px;
            width: 300px;
            animation: fadeIn ease 3s;
            text-align: center; /* 居中内容 */
            z-index: 100;
        }

        /* 悬停效果 */
        .container:hover {
            transform: scale(1.1);
        }

        /* 鼠标粒子效果容器 */
        .particles-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            /* 完全透明的黑色背景 */
            background-color: rgba(0, 0, 0, 0); 
        }

        input {
            width: 95%;
            margin: 10px auto;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid gray;
        }

        /* 新的样式 */
        .button-container {
            margin-top: 10px; /* 增加上边距以与输入字段分隔开 */
            display: flex;
            justify-content: space-between; /* 按钮左右对齐 */
        }

        .button-container button {
            flex: 1; /* 按钮等宽分配可用空间 */
            padding: 10px;
            background-color: #1c86ee;
            color: white;
            border-radius: 10px;
            margin: 0 5px; /* 添加左右间距 */
        }
        #particles-container {
                position: absolute;
                width: 100%;
                opacity: 0.5;
                height: 100%;
                background-color: #333333; /* 背景颜色 */
            }